<<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Welcome To Demo app, <%=@user.username%></h1>
<p>
      You have successfully signed up to example.com, and your username is: <%= @user.username %>.<br/>
      To login to the site, just follow this link: <%= url_for(:host=>"example.com" , :controller => "books" , :action => "index") %>.
    </p>
    <p>Thanks for joining and have a great day!</p>


</body>
</html>